<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="texto">Los retos del dado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  
  <ion-card color="dark">
    <ion-card-content>
      
      <h1 class="texto">Selecciona</h1>
      <br><br><br><br>
      <ion-button expand="block"color="warning" (click)="iniciarUnDado()">Un dado  <ion-icon name="dice-outline" slot="end"></ion-icon> </ion-button>
      <br>
      <ion-button expand="block" color="warning" (click)="inciarDosDados()">Dos dados <ion-icon name="dice-outline" slot="end"></ion-icon><ion-icon name="dice-outline" slot="end"></ion-icon></ion-button>
      <br><br><br><br>
    </ion-card-content>

  </ion-card>

</ion-content>